.input-task-container {
    width: 100%;
  }

  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .add-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #a33f10; /* Adjust color as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-button .plus-icon {
    margin-right: 5px;
  }
  
  .add-button:hover {
    background-color: #8a350e;
  }
  
  h5 {
    margin: 0;
    font-size: 18px;
  }